<%= @client.name if !!@client %>
<ul>
<% @products.each do |product| %>
  <li><%= link_to product.name, product_path(product)%></li>
<% end %>
</ul>
<br>
<%= link_to "Add New Product", new_product_path %><br>
<%= link_to "Back To Clients", clients_path %>
